div{
   
    
    width: 500px;
    height: 500px;
    /* background: linear-gradient(to  right top,rgb(100, 176, 226),pink); */
    /* background: radial-gradient(pink ,purple); */
    
}
table{
    
    border: 1px;
    background: linear-gradient(to  right top,rgb(100, 176, 226),pink);
    width: 100px;
    height: 100px;
    
}
.x{
    width: 100px;
    height: 100px;
    background-color: rgb(168, 140, 104);
}
